**/node_modules
# Elastic Beanstalk Files
**/.elasticbeanstalk/*
**/.git
**/.gitignore
**/.github
**/.vscode
**/.dockerignore
**/compose.y*ml
**/docker
**/Dockerfile*
**/build
**/.editorconfig
LICENSE.md
CHANGELOG.md
CODE_OF_CONDUCT.md
README.md
test_mode.md
