MATTERS_ENV=development
MATTERS_DOMAIN=http://localhost:4000
MATTERS_AWS_REGION=ap-southeast-1
MATTERS_AWS_ACCESS_ID=
MATTERS_AWS_ACCESS_KEY=
MATTERS_AWS_S3_ENDPOINT=s3-ap-southeast-1.amazonaws.com
MATTERS_AWS_S3_BUCKET=matters-server-dev
MATTERS_AWS_CLOUD_FRONT_ENDPOINT=
MATTERS_PG_HOST=db
MATTERS_PG_USER=postgres
MATTERS_PG_PASSWORD=postgres
MATTERS_PG_DATABASE=matters-dev
MATTERS_PUBSUB_HOST=redis
MATTERS_PUBSUB_PORT=6379
MATTERS_QUEUE_HOST=redis
MATTERS_QUEUE_PORT=6379
MATTERS_CACHE_HOST=redis
MATTERS_CACHE_PORT=6379
MATTERS_JWT_SECRET=QsNmu9
MATTERS_EMAIL_FROM_ASK=Matters<ask@matters.news>
MATTERS_NEW_RELIC_KEY=60cb55968eec3bc7d932961b1236c82061a9eff7
MATTERS_JPUSH_API_KEY=8e60db0a78eb029fe1bd83d6
MATTERS_JPUSH_API_SECRET=42dd6fb3e481a34eadbc5ee5
MATTERS_SENDGRID_API_KEY=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
MATTERS_ELASTICSEARCH_HOST=elasticsearch
MATTERS_ELASTICSEARCH_PORT=9200
MATTERS_IPFS_HOST=ipfs
MATTERS_IPFS_PORT=5001
MATTERS_APOLLO_API_KEY=service:matters-stage:HLVj7CVFiTcNPfOShIs4tQ
MATTERS_SENTRY_DSN=
