.idea
.vscode
.DS_store
*.swp
node_modules
build
webpack-stats.json
uploads
environment.sh
logs
npm-install.log
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
Dockerrun.aws.json
