.idea
.vscode
.DS_store
*.swp
*.rdb
*.log
*~

yarn.lock
node_modules
build
webpack-stats.json
uploads
environment.sh
logs
npm-install.log
coverage/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env*
Dockerrun.aws.json

TODO
