services:
  app:
    container_name: api
    image: matters-server:latest
    build:
      context: .
    command: ['npm', 'run', 'start:dev']
    env_file: .env
    volumes:
      - .:/var/app
      - /var/app/node_modules
    depends_on:
      - db
      - redis
      - s3
      - stripe
    ports:
      - '4000:4000'
  db:
    image: postgres:15
    container_name: db
    environment:
      - POSTGRES_DB=matters-dev
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - '5432:5432'
  redis:
    image: redis
    container_name: redis
    ports:
      - '6379:6379'
    restart: always
  s3:
    container_name: s3
    image: lphoward/fake-s3
    ports:
      - '4569:4569'
  stripe:
    container_name: stripe
    image: stripemock/stripe-mock:latest
    ports:
      - '12111:12111'
      - '12112:12112'

volumes:
  postgres_data:
