# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/https-storingprivatekeys.html

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["matters-private-files"]
          roleName: "aws-elasticbeanstalk-ec2-role"
files:
  "/tmp/.ebextensions/firebase-cerdentials.develop.json" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://matters-private-files.s3-ap-southeast-1.amazonaws.com/firebase-cerdentials/develop.json
  "/tmp/.ebextensions/firebase-cerdentials.production.json" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://matters-private-files.s3-ap-southeast-1.amazonaws.com/firebase-cerdentials/production.json
