---
files:
  /etc/nginx/conf.d/00_client_max_body_size.conf:
    content: "client_max_body_size 100m;"
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/01_increase_timeout.conf:
    group: root
    mode: "000644"
    owner: root
    content: |

      send_timeout       300;
      proxy_send_timeout 300;
      proxy_read_timeout 300;
