---
files:
  /etc/nginx/conf.d/00_client_max_body_size.conf:
    content: "client_max_body_size 100m;"
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/01_worker_connections.conf:
    group: root
    mode: "000644"
    owner: root
    content: |
      worker_processes auto;
      worker_rlimit_nofile 65536;

      events {
          worker_connections 4096;
          use epoll;
      }
