# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/https-storingprivatekeys.html

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["matters-private-files"]
          roleName: "aws-elasticbeanstalk-ec2-role"
files:
  "/tmp/.ebextensions/translate-credentials.develop.json" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://matters-private-files.s3-ap-southeast-1.amazonaws.com/translate-credentials/develop.json
  "/tmp/.ebextensions/translate-credentials.production.json" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://matters-private-files.s3-ap-southeast-1.amazonaws.com/translate-credentials/production.json
  "/tmp/.ebextensions/oicd_rsa_private_develop.pem" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://matters-private-files.s3-ap-southeast-1.amazonaws.com/oicd/oicd_rsa_private_develop.pem
  "/tmp/.ebextensions/oicd_rsa_private_production.pem" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://matters-private-files.s3-ap-southeast-1.amazonaws.com/oicd/oicd_rsa_private_production.pem

container_commands:
  01_private_files:
    command: cp -r /tmp/.ebextensions/. /var/app/.ebextensions
