---
files:
  "/tmp/#etc#nginx#conf.d#00_elasticbeanstalk-nginx-docker-proxy.conf":
    group: root
    mode: "000644"
    owner: root
    content: |
      map $http_upgrade $connection_upgrade {
          default        "upgrade";
          ""            "";
      }

      limit_req_zone $http_x_forwarded_for zone=application:16m rate=2r/s;

      limit_req zone=application burst=20 nodelay;
      limit_req_status 429;
      limit_conn_status 429;

      # pass real IP from client to NGINX
      real_ip_header X-Forwarded-For;
      set_real_ip_from 0.0.0.0/0;

      server {
          # set error page for HTTP code 429
          error_page 429 @ratelimit;
          location @ratelimit {
              return 429 '["Connection Limit Exceeded"]\n';
          }

          listen 80;

          gzip on;
          gzip_comp_level 4;
          gzip_types text/html text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

          if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
              set $year $1;
              set $month $2;
              set $day $3;
              set $hour $4;
          }
          access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;

          access_log    /var/log/nginx/access.log;

          location / {
              proxy_pass            http://docker;
              proxy_http_version    1.1;

              proxy_set_header    Connection            $connection_upgrade;
              proxy_set_header    Upgrade                $http_upgrade;
              proxy_set_header    Host                $host;
              proxy_set_header    X-Real-IP            $remote_addr;
              proxy_set_header    X-Forwarded-For        $proxy_add_x_forwarded_for;
          }
      }

container_commands:
  97_move_config:
    command: "mv -f /tmp/#etc#nginx#conf.d#00_elasticbeanstalk-nginx-docker-proxy.conf /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf"
  98_link_config:
    command: "sudo ln -sf /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf /etc/nginx/sites-enabled/elasticbeanstalk-nginx-docker-proxy.conf"
  99_reload_nginx:
    command: "sudo service nginx reload"
