version: '3'

services:
  app:
    container_name: api
    image: matters-server:latest
    build:
      context: ../
      dockerfile: docker/Dockerfile
    command: ['npm', 'run', 'start:dev']
    env_file: ../.env
    volumes:
      - ..:/var/app
    depends_on:
      - db
      - redis
      - s3
      - elasticsearch
      - ipfs
      - stripe
    ports:
      - '4000:4000'
  db:
    image: postgres:10
    container_name: db
    environment:
      - POSTGRES_DB=matters-dev
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - '5432:5432'
  redis:
    image: redis
    container_name: redis
    ports:
      - '6379:6379'
    restart: always
  s3:
    container_name: s3
    image: lphoward/fake-s3
    ports:
      - '4569:4569'
  ipfs:
    container_name: ipfs
    image: ipfs/go-ipfs:v0.9.1
    ports:
      - '8080:8080'
      - '4001:4001'
      - '5001:5001'
  elasticsearch:
    image: matterslab/elasticsearch:latest
    container_name: elasticsearch
    environment:
      - 'ES_JAVA_OPTS=-Xms750m -Xmx750m'
      - 'discovery.type=single-node'
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    ports:
      - '9200:9200'
      - '9300:9300'
  kibana:
    container_name: kibana
    image: kibana:5.4
    ports:
      - '5601:5601'
    depends_on:
      - elasticsearch
  stripe:
    container_name: stripe
    image: stripemock/stripe-mock:latest
    ports:
      - '12111:12111'
      - '12112:12112'

volumes:
  postgres_data:
  elasticsearch_data:
