name: Deployment

on:
  pull_request:
    branches:
      - master
      - develop
      - ci_test_deploy
    types:
      - closed

concurrency:
  group: ${{ github.workflow }}-${{ github.base_ref }}
  cancel-in-progress: true

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  build_and_deploy:
    if: github.event.pull_request.merged == true

    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      stripe:
        image: stripemock/stripe-mock:latest
        ports:
          - 12111:12111
          - 12112:12112
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: matters-test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

    steps:
      - name: Checkout Repo
        uses: actions/checkout@master

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Cache
        uses: actions/cache@v3
        id: cache
        with:
          path: |
            node_modules
            build
            .test-result
            .lint-result
          key: ${{ runner.os }}-v18-${{ github.sha }}

      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Lint
        if: steps.cache.outputs.cache-hit != 'true' || !hashFiles('.lint-result/result.txt')
        run: |
          npm run lint && npm run format:check
          mkdir -p .lint-result
          echo "lint_passed=true" > .lint-result/result.txt

      - name: Test
        if: steps.cache.outputs.cache-hit != 'true' || !hashFiles('.test-result/result.txt')
        run: |
          npm run test
          mkdir -p .test-result
          echo "test_passed=true" > .test-result/result.txt
        env:
          CODECOV_TOKEN: de5ab681-0837-4a24-b614-0a29225a7e4c
          MATTERS_ENV: test
          MATTERS_PG_HOST: localhost
          MATTERS_PG_USER: postgres
          MATTERS_PG_PASSWORD: postgres
          MATTERS_PG_DATABASE: matters-test
          MATTERS_QUEUE_HOST: localhost
          MATTERS_CACHE_HOST: localhost
          MATTERS_MATTY_ID: 6
          MATTERS_JWT_SECRET: QsNmu9
          MATTERS_STRIPE_SECRET: sk_test_foobar
          MATTERS_SENDGRID_API_KEY: SG.0-_abcabcabc.
          MATTERS_OPENSEA_API_BASE: 'https://rinkeby-api.opensea.io/api/v1'
          MATTERS_CURATION_VAULT_SIGNER_PRIVATE_KEY: '0x8441d82233625acbb5738a56d9ad0a841515e882d536a06b5962c628472af073'

      - name: Build
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm run build

      - name: Docker Configuration
        if: github.base_ref == 'develop' || github.base_ref == 'master'
        run: |
          IMAGE_TAG=$([[ "${{ github.base_ref }}" == "develop" ]] && echo "develop" || echo "prod")
          cat docker/Dockerrun.aws.json.example | sed "s/{{IMAGE_TAG}}/$IMAGE_TAG/" > Dockerrun.aws.json

      - name: Generate deployment package
        if: github.base_ref == 'develop' || github.base_ref == 'master'
        run: zip -r deploy.zip . -x node_modules/\* .git/\*

      - name: Setup AWS
        if: github.base_ref == 'develop' || github.base_ref == 'master'
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Login to Amazon ECR
        if: github.base_ref == 'develop' || github.base_ref == 'master'
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Set up Docker Buildx
        if: github.base_ref == 'develop' || github.base_ref == 'master'
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        if: github.base_ref == 'develop' || github.base_ref == 'master'
        uses: actions/cache@v3
        id: docker-cache
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.base_ref }}-${{ github.sha }}

      # === `develop` branch ===
      - name: Start VPN (develop)
        if: github.base_ref == 'develop'
        run: |
          sudo apt-get update \
          && sudo apt-get install openvpn \
          && echo $VPN_AUTH | base64 -d > $VPN_AUTH_PATH \
          && echo $VPN_CONFIG | base64 -d > $VPN_CONFIG_PATH \
          && sudo openvpn --config $VPN_CONFIG_PATH --auth-user-pass $VPN_AUTH_PATH --daemon \
          && sleep 15s
        env:
          VPN_CONFIG: ${{ secrets.DEVELOP_VPN_CONFIG }}
          VPN_CONFIG_PATH: '.github/config.ovpn'
          VPN_AUTH: ${{ secrets.DEVELOP_VPN_AUTH }}
          VPN_AUTH_PATH: '.github/auth.txt'

      - name: Check DB Connection
        if: github.base_ref == 'develop'
        run: nc -zv -w 5 $MATTERS_PG_HOST 5432
        env:
          MATTERS_PG_HOST: ${{ secrets.DEVELOP_PG_HOST }}

      - name: DB Migration (develop)
        if: github.base_ref == 'develop'
        run: npm run db:migrate
        env:
          MATTERS_ENV: development
          MATTERS_PG_HOST: ${{ secrets.DEVELOP_PG_HOST }}
          MATTERS_PG_DATABASE: ${{ secrets.DEVELOP_PG_DATABASE }}
          MATTERS_PG_USER: ${{ secrets.DEVELOP_PG_USER }}
          MATTERS_PG_PASSWORD: ${{ secrets.DEVELOP_PG_PASSWORD }}
          MATTERS_STRIPE_SECRET: ${{ secrets.DEVELOP_STRIPE_SECRET }}

      - name: Check if image exists (develop)
        if: github.base_ref == 'develop'
        id: check-image-develop
        run: |
          # Try to get metadata for the image and check if this commit SHA is in the description
          aws ecr describe-images --repository-name matters-server --image-ids imageTag=develop --query 'imageDetails[0].imageTags' | grep ${{ github.SHA }} && \
          echo "exists=true" >> $GITHUB_OUTPUT || echo "exists=false" >> $GITHUB_OUTPUT

      - name: Build, tag, and push image to Amazon ECR (develop)
        if: github.base_ref == 'develop' && steps.check-image-develop.outputs.exists != 'true'
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/matters-server:develop
          labels: |
            commit=${{ github.SHA }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: matters-server
          IMAGE_TAG: develop

      - name: Move Docker cache (develop)
        if: github.base_ref == 'develop' && steps.docker-cache.outputs.cache-hit != 'true'
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Deploy to EB (develop)
        if: github.base_ref == 'develop'
        uses: einaregilsson/beanstalk-deploy@v19
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: matters-stage
          environment_name: matters-server-develop
          version_label: matters-server-develop-${{ hashFiles('deploy.zip') }}
          version_description: ${{ github.SHA }}
          region: ap-southeast-1
          deployment_package: deploy.zip
          use_existing_version_if_available: true
          wait_for_deployment: true
      # === [END] `develop` branch ===

      # === `master` branch ===
      - name: Start VPN
        if: github.base_ref == 'master'
        run: |
          sudo apt-get update \
          && sudo apt-get install openvpn \
          && echo $VPN_CONFIG | base64 -d >> $VPN_CONFIG_PATH \
          && echo $VPN_AUTH | base64 -d >> $VPN_AUTH_PATH \
          && sudo openvpn --config $VPN_CONFIG_PATH --auth-user-pass $VPN_AUTH_PATH --daemon \
          && sleep 15s
        env:
          VPN_CONFIG: ${{ secrets.VPN_CONFIG }}
          VPN_CONFIG_PATH: '.github/config.ovpn'
          VPN_AUTH: ${{ secrets.VPN_AUTH }}
          VPN_AUTH_PATH: '.github/auth.txt'

      - name: Check DB Connection
        if: github.base_ref == 'master'
        run: nc -zv -w 5 $MATTERS_PG_HOST 5432
        env:
          MATTERS_PG_HOST: ${{ secrets.PROD_PG_HOST }}

      - name: DB Migration (production)
        if: github.base_ref == 'master'
        run: npm run db:migrate
        env:
          MATTERS_ENV: production
          MATTERS_PG_HOST: ${{ secrets.PROD_PG_HOST }}
          MATTERS_PG_DATABASE: ${{ secrets.PROD_PG_DATABASE }}
          MATTERS_PG_USER: ${{ secrets.PROD_PG_USER }}
          MATTERS_PG_PASSWORD: ${{ secrets.PROD_PG_PASSWORD }}
          MATTERS_STRIPE_SECRET: ${{ secrets.PROD_STRIPE_SECRET }}

      - name: Kill VPN
        if: always()
        run: sudo killall openvpn || true

      - name: Check if image exists (production)
        if: github.base_ref == 'master'
        id: check-image-prod
        run: |
          aws ecr describe-images --repository-name matters-server --image-ids imageTag=prod --query 'imageDetails[0].imageTags' | grep ${{ github.SHA }} && \
          echo "exists=true" >> $GITHUB_OUTPUT || echo "exists=false" >> $GITHUB_OUTPUT

      - name: Build, tag, and push image to Amazon ECR (production)
        if: github.base_ref == 'master' && steps.check-image-prod.outputs.exists != 'true'
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/matters-server:prod
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: matters-server
          IMAGE_TAG: prod

      - name: Move Docker cache (production)
        if: github.base_ref == 'master' && steps.docker-cache.outputs.cache-hit != 'true'
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Deploy to EB (production)
        if: github.base_ref == 'master'
        uses: einaregilsson/beanstalk-deploy@v19
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: matters-prod
          environment_name: matters-server-prod
          version_label: matters-server-prod-${{ hashFiles('deploy.zip') }}
          version_description: ${{ github.SHA }}
          region: ap-southeast-1
          deployment_package: deploy.zip
          use_existing_version_if_available: true
          wait_for_deployment: true
      # === [END] `master` branch ===

      - name: Logout of Amazon ECR
        if: github.base_ref == 'develop' || github.base_ref == 'master'
        run: docker logout ${{ steps.login-ecr.outputs.registry }}

      - name: Slack Notification
        if: always()
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: matters-server
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took
