name: Push Schema to Apollo

on:
  push:
    branches:
      - develop
      - master
      - stage

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  push_schema:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Get Version
        id: version
        uses: martinbeentjes/npm-get-version-action@master

      - name: Cache Dependencies
        id: cache
        uses: actions/cache@v2.1.4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        run: npm ci

      - name: Push Schema (develop)
        if: github.ref == 'refs/heads/develop'
        run: npm run schema:push
        env:
          APOLLO_API_KEY: ${{ secrets.DEVELOP_APOLLO_API_KEY }}

      - name: Push Schema (stage)
        if: github.ref == 'refs/heads/stage'
        run: npm run schema:push
        env:
          APOLLO_API_KEY: ${{ secrets.STAGE_APOLLO_API_KEY }}

      - name: Push Schema (production)
        if: github.ref == 'refs/heads/master'
        run: npm run schema:push
        env:
          APOLLO_API_KEY: ${{ secrets.PROD_APOLLO_API_KEY }}

      - name: Slack Notification
        if: always()
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: matters-server
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took
