name: Test

on:
  push:
    branches-ignore:
      - develop
      - main
      - master
      - stage
  pull_request:
    branches:
      - develop

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      stripe:
        image: stripemock/stripe-mock:latest
        ports:
          - 12111:12111
          - 12112:12112
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: matters-test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

    steps:
      - name: Checkout Repo
        uses: actions/checkout@master

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Cache
        uses: actions/cache@v3
        id: cache
        with:
          path: |
            node_modules
            build
            .test-result
            .lint-result
          key: ${{ runner.os }}-v18-${{ github.sha }}

      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Lint
        if: steps.cache.outputs.cache-hit != 'true' || !hashFiles('.lint-result/result.txt')
        run: |
          npm run lint && npm run format:check
          mkdir -p .lint-result
          echo "lint_passed=true" > .lint-result/result.txt

      - name: Test
        if: steps.cache.outputs.cache-hit != 'true' || !hashFiles('.test-result/result.txt')
        run: |
          npm run test
          mkdir -p .test-result
          echo "test_passed=true" > .test-result/result.txt
        env:
          NODE_OPTIONS: '--no-experimental-fetch'
          CODECOV_TOKEN: de5ab681-0837-4a24-b614-0a29225a7e4c
          MATTERS_ENV: test
          MATTERS_LOGGING_LEVEL: critical
          MATTERS_PG_HOST: localhost
          MATTERS_PG_USER: postgres
          MATTERS_PG_PASSWORD: postgres
          MATTERS_PG_DATABASE: matters-test
          MATTERS_QUEUE_HOST: localhost
          MATTERS_CACHE_HOST: localhost
          MATTERS_MATTY_ID: 6
          MATTERS_JWT_SECRET: QsNmu9
          MATTERS_STRIPE_SECRET: sk_test_foobar
          MATTERS_SENDGRID_API_KEY: SG.0-_abcabcabc.
          MATTERS_OPENSEA_API_BASE: 'https://rinkeby-api.opensea.io/api/v1'
          MATTERS_CURATION_VAULT_SIGNER_PRIVATE_KEY: '0x8441d82233625acbb5738a56d9ad0a841515e882d536a06b5962c628472af073'

      - name: Build
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm run build
