name: Test

on:
  push:
    branches-ignore:
      - develop
      - main
      - master
      - stage

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      ipfs:
        image: ipfs/go-ipfs:v0.14.0
        ports:
          - 5001:5001
      stripe:
        image: stripemock/stripe-mock:latest
        ports:
          - 12111:12111
          - 12112:12112
      postgres:
        image: postgres:12-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: matters-test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

    steps:
      - name: Checkout Repo
        uses: actions/checkout@master

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        if: steps.node_modules_cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Lint
        run: |
          npm run lint \
          && npm run format:check

      - name: Test
        run: npm run test
        env:
          CODECOV_TOKEN: de5ab681-0837-4a24-b614-0a29225a7e4c
          MATTERS_ENV: test
          MATTERS_LOGGING_LEVEL: warn
          MATTERS_PG_HOST: localhost
          MATTERS_PG_USER: postgres
          MATTERS_PG_PASSWORD: postgres
          MATTERS_PG_DATABASE: matters-test
          MATTERS_QUEUE_HOST: localhost
          MATTERS_CACHE_HOST: localhost
          MATTERS_MATTY_ID: 6
          MATTERS_JWT_SECRET: QsNmu9
          MATTERS_ELASTICSEARCH_HOST: localhost
          MATTERS_ELASTICSEARCH_PORT: 9200
          MATTERS_IPFS_HOST: localhost
          MATTERS_IPFS_PORT: 5001
          MATTERS_OICD_PRIVATE_KEY: .ebextensions/oicd_rsa_private_local.pem
          MATTERS_STRIPE_SECRET: sk_test_foobar
          MATTERS_SENDGRID_API_KEY: SG.0-_abcabcabc.
          MATTERS_OPENSEA_API_BASE: 'https://rinkeby-api.opensea.io/api/v1'

      - name: Build
        run: npm run build
