name: Test

on:
  push:
    branches-ignore:
      - main
      - master
      - develop
  pull_request:
    branches:
      - main
      - master
      - develop

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      environment: ''
      skip_tests: false
      skip_docker: true
    secrets: {}
